* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top bar */
.top-bar {
    background-color: #ff4500;
    color: white;
    text-align: center;
    /*padding: 10px;*/
    font-size: 24px;
    height: 100px;
    flex-shrink: 0;
}

/* Layout container */
.layout {
    display: flex;
    flex: 1;
}

/* Left Sidebar */
.sidebar-left {
    width: 150px;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
}

/* Right Sidebar */
.sidebar-right {
    width: 150px;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 100px;
    bottom: 0;
}

/* Content */
.content {
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

/* Copy Right Stuff */
.copyright-info {
    margin-top: 20px;
    font-size: 0.9em;
    color: gray;
    text-align: center;
}

/* Gallery container */
.gallery {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

/* Gallery images */
.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* Gallery text - CarFaxs*/
.car-item {
    text-align: center;
}

/* Sidebar Notes*/
.sidebar-note {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

/*Car of the week */
.car-of-the-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* COTW Image */
.car-of-the-week img {
    max-width: 40%;
    max-height: 300px;
    object-fit: contain;
}

/* COTW Description */
.car-description {
    max-width: 75%;
    margin-left: 20px;
    flex-grow: 1;
}

/* COTW Title */
.cotw-title {
    text-align: center;
    width: 50%;
    font-size: 24px;
}
/* Drop down box for filtering*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    display: block;
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;

  }

  .theme {
    position: absolute;
    bottom: 50px;
    right: 20px;
    
  }
